.env
venv/
__pycache__/
*.pyc

# logs/**
staticfiles/**

# Excluir carpeta de archivos
**/media/**
# Agregar logos e icos de empresas por defecto
!**/media/empresas/
!**/media/empresas/**

# Ignorar migraciones aplicadas localmente
**/migrations/**
# Evitar ignorar el archivo __init__.py en las carpetas de migraciones
!**/migrations/__init__.py
!**/migrations/*_initial.py

vscode/
.vscode/
